<div class = "row" >
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <h1>Checkout</h1>
    <h4>Your total: ${{total}}</h4>
    <div id="charge-error" class = "alert alert-danger {{#if noErrors}}hidden{{/if}}" >
        {{errMsg}}
    </div>
    <form action="/checkout" method="post" id = "checkout-form">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    {{!-- Enter Your Publishable Key Here --}} data-key="pk_test_WmQuWZhFbFViawgj7A8u7M4700B3VhCAMo"
                    data-name="Pagamento" data-description="2 widgets ($20.00)" data-amount=${{total}}>
                    
        </script>
          <script>
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
         </script>
        <!--
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id = "name" class="form-control" required></input>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id = "address" class="form-control" required></input>
                </div>
            </div>
            <hr>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="card-name">Card Holder Name</label>
                    <input type="text" id = "card-name" class="form-control" required></input>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="card-number">Credit Card number</label>
                    <input type="text" id = "card-number" class="form-control" required></input>
                </div>
            </div>
           <div class="col-xs-12">
               <div class="row">
                   <div class="col-xs-6">
                        <div class="form-group">
                            <label for="card-expiry-month">Expiry month</label>
                            <input type="text" id = "card-expiry-month" class="form-control" required></input>
                            </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for = "card-expiry-year">Expiration Year</label>
                            <input type = "text" id = "card-expiry-year" class = "form-control" required> </input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="card-cvc">CVC</label>
                    <input type="text" id="card-cvc" class="form-control" required></input>
                </div>
            </div>            
        </div> -->
        <button type = 'submit' class="btn btn-primary btn-xs">Buy now</button>
      </form>
    </div>
</div>

<script type="text/javascripts" src="/javascripts/jquery-3.1.1.min.js"></script>
<script type = "text/javascripts" src="https://js.stripe.com/v3/"></script>
<script type = "text/javascripts" src="javascripts/checkout.js"></script>
