

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/comparegame/thumbnails/39560/large.jpg" alt="..." class = "img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Jogo de ação , aventura com Nathan Drake</p>
        <div class = "clearfix">
            <div class ="price pull-left">$15</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Buy</a>
         </div>
      </div>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images.tcdn.com.br/img/img_prod/621461/the_last_of_us_remasterizado_ps4_140_1_20190319125127.jpg" alt="..." class = "img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Jogo de Terror,aventura,Sobrevivência</p>
        <div class = "clearfix">
            <div class ="price pull-left">$15</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Buy</a>
         </div>
      </div>
  </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/comparegame/thumbnails/39560/large.jpg" alt="..." class = "img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Jogo de ação , aventura com Nathan Drake</p>
        <div class = "clearfix">
            <div class ="price pull-left">$15</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Buy</a>
         </div>
      </div>
    </div>
    
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s3.amazonaws.com/comparegame/thumbnails/42666/large.jpg" alt="..." class = "img-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class = "description">Jogo de ação , aventura com Nathan Drake</p>
        <div class = "clearfix">
            <div class ="price pull-left">$15</div>
            <a href="#" class="btn btn-primary pull-right" role="button">Buy</a>
         </div>
      </div>
    </div>
    
  </div>

</div>